:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color: #333;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 2px;
  border: 1px solid #EAEAEA;
  padding: 6px 12px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fefefe;
  cursor: pointer;
}

.todo__input {
  /* width: 100%; */
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  border-radius: 2px;
  outline: none;
}
