:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color: #333;
}

.main-container {
  width: 500px;
  margin: 0 auto; 
}

button {
  border-radius: 2px;
  border: 1px solid #EAEAEA;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #fefefe;
  cursor: pointer;
}

.todo__input {
  padding: 12px 24px;
  font-size: 16px;
  border: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  border-radius: 2px;
  outline: none;
}

.todo__input-container {
  display: flex;
  align-items: center;
}

.space-children {
  > * {
    margin-right: 6px;
  }

  > *:last-child {
    margin-right: 0; 
  }

}

.todo-list {
  > * {
    margin-bottom: 12px;
  }

  > *:last-child {
    margin-bottom: 0; 
  }
}

.todo__container {
  display: flex;
  padding: 12px;
  background-color: #f7f7f7;
  align-items: center;
}
